.perfumes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.perfumesHeader {
    background-color: #ee006f;
    color: #fff;
    width: 100%;
    padding: 20px 0px;
}

.perfumesMain {
    background-color: #ffffff;
    color: #000;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 15px; /* Отступ между слайдером и карточками */
}

.perfumesLeftRow {
    width: 200px;
    align-items: center;
    justify-content: center;
    /*here is property to hide the left bar*/
    display: block;
}

.perfumesRightRow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px; /* Расстояние между карточками */
    padding: 16px;
}

.perfumesBlock {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(213, 34, 249);
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

strong {
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(213, 34, 249);
}

@media (max-width: 1024px) {
    .perfumesMain {
        grid-template-columns: 1fr; /* В мобильной версии слайдер и карточки будут в один столбик */
    }

    .perfumesLeftRow {
        display: none; /* Скрываем левую панель */
    }

    .perfumesBlock {
        max-width: 300px;
    }
}
