.perfumes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.perfumesHeader {
    background-color: #000000;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
}

.perfumesMain {
    color: #000;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.perfumesLeftRow {
    width: 200px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    /*here is property to hide the left bar*/
    display: block;
}

.perfumesRightRow {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: #fff;
    grid-gap: 0;
}

.perfumesBlock {
    display: grid;
    align-content: space-between;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;

    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: background 1s;
}

.perfumesBlock:hover {
    background-color: #36383e68;
}

.perfumesBlock img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

strong {
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

@media (max-width: 1050px) {
    .perfumesMain {
        grid-template-columns: 1fr; /* В мобильной версии слайдер и карточки будут в один столбик */
    }

    .perfumesLeftRow {
        display: none; /* Скрываем левую панель */
    }

    .perfumesBlock {
        max-width: 300px;
    }
}
