.cartDropDownItem {
    color: black;
    padding: 12px 16px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(179, 179, 179);
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.optionData {
    display: grid;
}

.cartDropDownItem > img {
    max-width: 100px;
    max-height: 100px;
}

.cartDropDownItem:last-child {
    border-bottom: none;
}

.cartDropDownItem:hover {
    background-color: aquamarine;
}

.cartHeader {
    padding: 10px 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.cartMain {
    position: relative;
    min-height: 75.5vh;
    width: 100%;
}

.emptyCartMain {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    position: absolute;
}

.emptyCartText {
    position: absolute;
    text-align: start;
    top: 30%;
    left: 15%;
}
.emptyCartText > * {
    margin: 15px 0;
}

.emptyCartButton {
    position: relative;
    margin: 0;
    margin-top: 5px;
    padding: 10px;
    width: 250px;
    height: 60px;
    z-index: 10;
    border-radius: 0;
    color: white;
    background-color: #000;
}
.emptyCartButton:after {
    content: '';
    position: absolute;
    bottom: -7px;
    right: -7px;
    width: 250px;
    height: 60px;
    border: 2px solid black;
    z-index: -1;
}

.emptyCartButton:hover {
    background-color: #000;
    color: rgb(179, 179, 179);
}

/* .emptyCartText > h3,
.emptyCartText > h1 {
} */

.cartList {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 11px 11px 11px 0px rgba(0, 0, 0, 0.1), -7px -7px 6px white;
    margin: 25px;
    max-width: 700px;
}

.listItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    height: 250px;
}

.listItem:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.listItem:first-child > .itemCount {
    border-top-left-radius: 10px;
}

.listItem:first-child > .listItemInfoContainer {
    border-top-right-radius: 10px;
}

.listItem:last-child {
    border-bottom: none;
}
/* //////////////////////////////////////////////////////////////// */
.selectQuantityMenu {
    border-radius: 5px;
}
/* //////////////////////////////////////////////////////////////// */

.imgContainer {
    height: 100%;
    width: auto;
}

.imgContainer > img {
    background-color: white;
    margin: 25px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid black;
}

.itemCount {
    color: #000;
    background-color: aquamarine;
    width: 50px;
    height: 100%;
    display: flex; /* Use flexbox to stretch the content */
    align-items: center; /* Center the content vertically */
    justify-content: center;
}

.itemTitle {
    font-size: 20px;
    font-weight: bold;
}

.listItemInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 35px;
    width: 70%;
    height: 100%;
    color: #000;
    background-color: #fff;
}

.itemCapacityPrice {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.itemCapacityPrice > * {
    font-style: italic;
}
.priceForOne {
    display: block;
    position: absolute;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    color: #e600e6;
    border-bottom: 2px solid #e600e6;
    right: 8%;
    top: 45px;
}

.deleteItemButton {
    position: absolute;
    box-sizing: border-box;
    top: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: transform 0.7s ease-out;
}

.deleteItemButton:hover {
    transform: scale(1.4);
}

.deleteItemButton:active {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
}

.deleteItemButton > svg {
    position: relative;
    top: 5px;
    width: 25px;
    height: 25px;
}

.cartSummary {
    color: white;
    height: 100px;
    background-color: black;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
}
.cartSummary > p {
    font-size: 50px;
    margin: 17px;
}
.cartSummary > p > strong {
    color: white;
    font-style: italic;
}
