.cartItem {
    color: black;
    padding: 12px 16px;
    border-bottom: 2px solid rgb(179, 179, 179);
    font-size: 20px;
    display: block;
}

.cartItem > img {
    max-width: 100px;
    max-height: 100px;
}

.cartItem:last-child {
    border-bottom: none;
}
