.main {
    display: flex;
    flex-direction: column;
    min-height: 75vh; /* Весь экран */
    justify-items: center;
}

.content {
    width: 100%;
}

.singlePerfume {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 100vh;
    background-color: #f9f9f9;
}

.singlePerfume > img {
    display: block;
    background-color: #f9f9f9;
    width: 500px;
    margin: 15px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
    border: 2px solid #f9f9f9;
    border-radius: 4px;
}

.container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: center;
    height: 100%;
    font-size: 30px;
    color: #000;
    width: 70%;
}

.container p {
    margin: 5px 0;
}

.container strong {
    font-size: 1.5rem;
    color: #e600e6;
}

.container button {
    min-width: 200px;
    margin-top: 20px;
}

.form_checkbox {
    display: grid;
    margin: 5px;
    height: auto;
    max-width: 100%;
    font-size: 25px;
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 3px;
    background-color: white;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    padding: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.option:active {
    background-color: rgba(127, 255, 212, 0.461);
    color: black;
}

.selectedOption {
    background-color: #000;
    color: white;
}

.option > p {
    margin: 0 10px;
}
