.credit_card_form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgb(111, 111, 111);
    box-shadow: 6px 6px 9px 2px rgba(0, 0, 0, 0.1), -7px -7px 6px white;
}
.credit_card_form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}
.form_group {
    margin-bottom: 15px;
}
.form_group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: start;
}
.inputField {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.input_group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input_group div {
    flex: 1;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #45a049;
}

.inputBlik {
    width: min-content;
    font-size: 36px;
    letter-spacing: 6px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px;
    width: 100%;
}
