.filterContainer {
    color: #ffffff;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.filterContainer > h1 {
    transform: rotate(180deg);
    padding: 40px 0px;
    writing-mode: vertical-rl;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
}
